<div class="isolated_bs">
    <style type="text/css">
        <% if current_admin_user.role != 'admin' %>
             #admin_message {
                display: none
             }
        <% end %>
        @media only screen and (min-width: 1200px) and (max-width: 1400px) {
            .bgimg {
                background-image: url('/upscsheetmain.png');
                background-repeat: no-repeat;
                background-position: center; 
                height: 1200px;
            }
        }
    </style>
    <div class="card mb-3">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <strong style="font-size: 18px;">Q: <%= @question.question %></strong>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 text-center">
                    <span class="badge rounded-pill bg-primary"><%= @question.paper.name %></span>
                </div>
                <div class="col-md-8 text-right">
                    <% @question.keyword.each do |key| %>
                      <span class="badge rounded-pill bg-secondary"><%= key.keyword %></span>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
    <div id='answer_div'>
     <%= @question.answer_status_html.html_safe %>
    </div>
</div>